page-clientes {


    #logoProduto{
        width:100px;
        height:100px;
    }

    #ocultarMenu{
        display:none;
    }

    #sideWord{
        zoom:1.2;
        padding-left: 30px;
    }

    #imgLogo{
        width:240px;
        height:75px;
    }

    #imgPop{
        width:60px;
        height:70px;
        margin-top: 3px;
        margin-right: 20px;
        float: right;
    }

    #imgCentral{
        width:330px;
        height:60px;
        margin-top: 7px;
        margin-left: 10px;
        float: left;
    }


}